# City data

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

## San Francisco

In [29]:
#Decennial population 1850 to 2010
ca1850 = pd.read_csv('california_cities_1850.csv')
ca1850.drop(['GeoID', 'sumlvl', 'county FIPS', 'Place ID', 
             'County', 'Incorpora-\ntion Date (1)'], axis = 1, inplace = True)

sf1850 = (ca1850[ca1850['Incorporated City \nor Town'] == 'San Francisco'])
sf1850.drop(['Incorporated City \nor Town', 'June 1,\n1850'], axis = 1, inplace = True)
sf_census = sf1850.loc[436]
years = list(sf_census.index)
years = [int(year[-4:]) for year in years]
pops = list(sf_census.values)
pops = [int(pop.replace(',', '')) for pop in pops]
sf_census = pd.DataFrame(pops, columns = ['population'], index = years)

/Users/ssrosa/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:3697: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

In [31]:
#Annual population 1970 - 2010
#https://fred.stlouisfed.org/series/CASANF0POP
sf1970 = pd.read_csv('sf1970.csv')
dates = [int(date[:4]) for date in sf1970['DATE'].values]
sf1970['DATE'] = dates
sf1970 = sf1970.set_index('DATE')
sf1970.rename(columns = {'CASANF0POP': 'population'}, inplace = True)

In [36]:
sf1970

      population
DATE
1970     715.674
1971     708.100
1972     700.200
1973     700.000
1974     698.400
1975     686.100
1976     686.100
1977     679.400
1978     677.700
1979     675.800
1980     678.974
1981     686.915
1982     695.546
1983     704.809
1984     713.196
1985     727.977
1986     737.396
1987     736.499
1988     730.471
1989     725.889
1990     723.496
1991     729.708
1992     734.861
1993     740.277
1994     742.316
1995     746.386
1996     753.934
1997     762.953
1998     770.262
1999     774.716
2000     777.340
2001     784.677
2002     779.447
2003     775.663
2004     773.556
2005     777.835
2006     786.187
2007     799.185
2008     807.904
2009     815.184
2010     805.770
2011     816.294
2012     830.406
2013     841.270
2014     853.258
2015     866.320
2016     876.103
2017     884.363
2018     883.305

In [37]:
#https://data.sfgov.org/Housing-and-Buildings/Annual-Allowable-Rent-Increase-for-Units-Under-Ren/hsxb-ci7b/data
pd.read_csv('allowed_rent_increase.csv')

   Effective Starting Date  Annual Allowable Percent Increase
0               04/01/1982                                7.0
1               03/01/1983                                7.0
2               03/01/1984                                4.0
3               03/01/1985                                4.0
4               03/01/1986                                4.0
5               03/01/1987                                4.0
6               03/01/1988                                4.0
7               03/01/1989                                4.0
8               03/01/1990                                4.0
9               03/01/1991                                4.0
10              03/01/1992                                4.0
11              12/08/1992                                1.6
12              03/01/1993                                1.9
13              03/01/1994                                1.3
14              03/01/1995                                1.1
15              03/01/1996                                1.0
16              03/01/1997                                1.8
17              03/01/1998                                2.2
18              03/01/1999                                1.7
19              03/01/2000                                2.9
20              03/01/2001                                2.8
21              03/01/2002                                2.7
22              03/01/2003                                0.8
23              03/01/2004                                0.6
24              03/01/2005                                1.2
25              03/01/2006                                1.7
26              03/01/2007                                1.5
27              03/01/2008                                2.0
28              03/01/2009                                2.2
29              03/01/2010                                0.1
30              03/01/2011                                0.5
31              03/01/2012                                1.9
32              03/01/2013                                1.9
33              03/01/2014                                1.0
34              03/01/2015                                1.9
35              03/01/2016                                1.6
36              03/01/2017                                2.2
37              03/01/2018                                1.6
38              03/01/2019                                2.6